@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.kitchenScreen {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(52, 12, 4, 1));;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

/*parte principal*/
.kitchenContent {
  padding: 20px;
  flex-grow: 1;
}

.mainTitleSection {
  text-align: center;
  margin-bottom: 25px;
}

.mainTitle {
  font-size: 2.2em;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-family: "Inknut Antiqua";
}

.mainSubtitle {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins";
}

.ordersList {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.emptyKitchenMessage {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-top: 30px;
  font-size: 1.1em;
  font-family: "Poppins";
}

.orderCard {
  display: flex;
  align-items: center;
}

.orderImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  border: 2px solid rgba(233, 92, 24, 1);
  flex-shrink: 0;
}

.orderDetails {
  flex-grow: 1;
}

.orderName {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 1);
}

.orderInfo {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 3px;
}

.statusBarContainer {
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

.statusTime {
  position: relative;
  z-index: 2;
}

/* Cores e estilos para cada status, */
.statusAnalyzing {
  background-color: rgba(233, 92, 24, 1);
}

.statusPreparing {
  position: relative;
}

.progressBar {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.statusDelivering {
  /*add depois*/
}

.disclaimer {
  font-size: 0.85em;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 1px 20px
}

.disclaimer p {
  margin-bottom: 10px;
  line-height: 1.4;
}

.disclaimer p:last-child {
  margin-bottom: 30px;
}

.disclaimerHighlight {
  font-weight: bold;
}
