.container{
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url('../../../public/images/firstback.png');
  height: 100vh;
  width: 100%;
  display: flex;;

}