.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url("../../public/images/firstback.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
}
