.container {
  padding: 0px 22px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.icon_container {
  background-color: rgba(15, 15, 15, 0.42);
  padding: 12px;
  border-radius: 50px;
}

.image_container {
  display: flex;
  justify-content: center;
}

.image {
  width: 294px;
  height: 294px;
  transform: translateY(-42px);
}
