.container {
  padding: 0px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  gap: 18px;
}

.image_background {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 150px;
  height: 150px;
}

.label {
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.25);
  font-size: 18px;
}

.name {
  font-family: "InknutAntiqua";
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 32px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.count {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
}

.minus_container {
  cursor: pointer;
  border: 1.5px rgba(228, 228, 231, 0.25) solid;
  padding: 18px;
  border-radius: 32px;
}

.plus_container {
  cursor: pointer;
  background-color: rgba(228, 228, 231, 0.1);
  padding: 18px;
  border-radius: 32px;
}

.icon {
  stroke: #E4E4E7;
}