.container {
  padding: 0px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.row {
  display: flex;
  gap: 18px;
}

.image_background {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
}

.label {
  color: rgba(255, 255, 255, 0.25);
  font-size: 12px;
  font-weight: 500;
}

.name {
  font-family: "InknutAntiqua";
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 110%;
  margin-top: 4px;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.count {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}

.minus_container {
  cursor: pointer;
  border: 1.5px #e4e4e740 solid;
  padding: 12px;
  border-radius: 32px;
}

.plus_container {
  cursor: pointer;
  background-color: rgba(228, 228, 231, 0.1);
  padding: 12px;
  border-radius: 32px;
}

.icon {
  stroke: #e4e4e7;
}
