.geral {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.login {
  opacity: 0.5;
}
