.container {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(233, 92, 24, 1);
  border-radius: 14px;
  cursor: pointer;

  font-size: 21px;
  line-height: 32px;
  font-weight: 600;

  width: 100%;
  box-sizing: border-box;
}

.container:hover {
  background-color: rgb(163, 65, 16);
  transition: 0.25s;
}
