.navbar_container {
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar {
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  box-sizing: border-box;

  backdrop-filter: blur(400px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(180deg, #000000 36.01%, rgba(0, 0, 0, 0) 75.92%);
}

.margin {
  height: 140px;
}

.navbar_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
}

.navbar_bottom {
  position: relative;
}

.icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 10px;
  left: 10px;
  fill: rgba(228, 228, 231, 1);
  opacity: 0.5;
}

.input {
  width: 100%;
  padding: 8px;
  padding-left: 42px;
  outline: none;
  border: 2px solid rgba(228, 228, 231, 0.25);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  opacity: 0.5;

  box-sizing: border-box;

  box-shadow: 0px 4px 250px 0px rgba(0, 0, 0, 0.25);

  color: white;
  font-size: 17px;
}

.input::placeholder {
  color: rgba(228, 228, 231, 1);
}
