body {
  width: 100%;
  position: relative;
  min-height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  top: -200px;
  left: -200px;
  right: 0px;
  bottom: 0px;
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: repeat;

  filter: blur(250px);
  z-index: -1;
}

div,
p {
  font-family: "Poppins";
  font-weight: 400;
  line-height: 12px;
  line-height: 120%;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0B0201;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6d6d6d;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}